

body{
    
    background: url("../images/background_home.jpeg") no-repeat;
    
    background-size: cover; /* Ensure background image covers the entire viewport */
    background-position: center; /* Center the background image */

    margin: 0;
    padding: 0;
    height: 100vh; /* Set body height to 100% of viewport height */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
}




/* Styles for the header */





.header {
    display: flex;
    flex: 5%; /* Header occupies 20% of the body height */
    max-height: 20vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Add padding to the sides */
    background-color: transparent;
    border-bottom: 1px solid #852525;
}

.mainbody {
    display: flex;
    flex: 1;
    background-color: transparent;
}



.logo {
    display: flex;
    justify-content: center;
    height: 100%;
    
    flex-grow: 1; /* Allows the logo to use any available space and center itself */
}

.logo img {
    max-height: 100%; /* Maximum height of the logo is the full height of its container */
    width: auto; /* Maintain the aspect ratio */
}

.logout_btn a {
    color: #007BFF;            /* Change color for a modern blue link */
    text-decoration: none;     /* Remove underline from the link */
    cursor: pointer;           /* Indicate that it's clickable */
    font-weight: bold;         /* Make the text bold */
    background-color: #F8F8F8; /* Light grey background matching the header */
    padding: 8px 16px;         /* Add padding for better touch area and visual appeal */
    border-radius: 5px;        /* Rounded corners for a smoother look */
    transition: all 0.3s ease; /* Smooth transition for hover effects */

    font-size: 18px;
}

.logout_btn a:hover, .logout_btn a:focus {
    text-decoration: none;          /* Ensure no underline appears on hover */
    background-color: #0056B3;      /* Darker blue on hover for better visibility */
    color: #FFFFFF;                 /* White text on hover for contrast */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}





.vertical-list {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    width: 20%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    grid-template-columns: 1fr;
}

.list-item {
    background-color: #f0f0f0; /* Background color of each list item */
    padding: 20px; /* Padding around the clickable area */
    margin-bottom: 5px; /* Spacing between list items */
    border-radius: 5px; /* Rounded corners for the clickable box */
    cursor: pointer; /* Change cursor to pointer on hover to indicate clickability */
    flex: 1;
}

.list-item:hover {
    background-color: #e0e0e0; /* Change background color on hover for visual feedback */
}
